#firstRealityGame {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 70vh 30vh;
    height: 100vh;
    width: 100vw;
}

#characterView {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-top: 5vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#viewCharacter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px #ddd;
}

#levelXP {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#viewStats {
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px #ddd;
  align-items: center;
}

#viewStats h2 {
  border-bottom: dashed 2px #ddd;
  width: 100%;
  text-align: center;
  padding-bottom: 1vh;
}

#healthConsumablesOverview {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  text-align: center;
  border-bottom: solid 2px #ddd;
}

#spellslotView {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  text-align: center;
  border-bottom: solid 2px #ddd;
}

#openStatScreen {
  border: solid 2px #ddd;
  border-radius: 8px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  color: #ddd;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#openStatScreen:hover {
  color: red;
}

#actionView {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #6d6d6d;
}

#actionControls {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-areas: 
    "actionButton0 actionButton1"
    "actionButton2 actionButton3";
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    place-content: center;
    gap: 1rem 1rem;
    background-color: #ddd;
    border-top: solid 2px #333;
  }

  .actionButton {
    background-color: #333;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  #actionButton0 {
    grid-area: actionButton0;
  }

  #actionButton1 { 
    grid-area: actionButton1;
  }

  #actionButton2 {
    grid-area: actionButton2;
  }

  #actionButton3 {
    grid-area: actionButton3;
  }

#inventoryView {
  padding-top: 3vh;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: #333;
  font-size: larger;
}

  #inventoryView h2{
    border-bottom: solid 2px #ddd;
  }

  .equipmentCardLayout {
    display: flex;
    flex-direction: column;
  }

  .equipmentCard {
    display: flex;
    border: solid 2px #ddd;
    border-radius: 8px;
  }

  .equipmentCard div {
    font-size: 3rem;
  }
