#firstRealityGame {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 70vh 30vh;
    height: 100vh;
    width: 100vw;
}

#characterView {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #333;
}

#actionView {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #6d6d6d;
}

#actionControls {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-areas: 
    "actionButton0 actionButton1"
    "actionButton2 actionButton3";
    background-color: #ddd;
    border-top: solid 2px #333;
  }

  .actionButton {
    background-color: #333;
    color: #ddd;
  }

  #actionButton0 {
    grid-area: actionButton0;
  }

  #actionButton1 { 
    grid-area: actionButton1;
  }

  #actionButton2 {
    grid-area: actionButton2;
  }

  #actionButton3 {
    grid-area: actionButton3;
  }

  #inventoryView {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: #333;
  }